.sider 
    .inner-menu 
        ul 
            li  
                a(href=`${prefixAdmin}/dashboard`) Dashboard 
            li 
                a(href="/admin/products-category") Products Category
            li 
                a(href="/admin/products") Products 

            li  
                a(href=`${prefixAdmin}/roles`) Permissions  